html{
    height: 100%;
    width: 100%;
}

body::before{
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(https://i.pinimg.com/originals/ef/6d/42/ef6d42581db3613437e16f7301be881a.gif);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(28, 0, 84);
    position: relative;
}

.main{
    padding-top: 500px;
    width: 100%;
    height: 100%;
    text-align: center;

    .welcome{
        color: aliceblue;
        font-weight: 100;
        font-size: 40px;
    }

    .btn{
        font-family: "Noto Sans KR", sans-serif;
    }

}