html{
    width: 100%;
    height: 100%;
}

#body{
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#body::before{
    content: "";
    z-index: -1;
    position: absolute;
    background-image: url(https://i.pinimg.com/originals/22/cc/53/22cc53e30debfce951521b95835c56cc.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.user_info{
    margin-top: 180px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;

    .user_main::before{
        z-index: -1;
        content: "";
        background-image: url(https://i.pinimg.com/564x/6b/24/90/6b24905cee920a44632edd25d6d75d3f.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        opacity: 0.85;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        border-radius: 10px;
    }

    .user_main{
        font-weight: 800;
        position: relative;

        .user_name{
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            height: 100px;
            .user_nickname{
                height: 50px;
                border: solid #700087;
                border-radius: 10px;
                background-color: white;
                margin-top: 40%;
                display: grid;
                grid-template-columns: 1fr 2fr;
                .name{
                    border-right: solid #000000 1px;
                    padding-top: 10px;
                }
                .name_content{
                    padding-left: 10px;
                    padding-top: 10px;
                }
                .edit_name{
                    display: none;
                    border: none;
                    width: 180px;
                }
            }
        }

        .user_id{
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            height: 70px;
            .user_id_detail{
                height: 50px;
                border: solid #700087;
                border-radius: 10px;
                background-color: white;
                margin-top: 25%;
                display: grid;
                grid-template-columns: 1fr 2fr;
            }
            .id{
                border-right: solid black 1px;
                padding-top: 10px;
            }
            .id_content{
                padding-left: 10px;
                padding-top: 10px;
            }
        }

        .user_pw{
            display: grid;
            grid-template-columns: 1fr 5fr 1fr;
            height: 70px;
            .user_pw_detail{
                height: 50px;
                border: solid #700087;
                border-radius: 10px;
                background-color: white;
                margin-top: 20%;
                display: grid;
                grid-template-columns: 1fr 2fr;
            }
            .pw{
                border-right: solid black 1px;
                padding-top: 10px;
            }
            .pw_content{
                padding-left: 10px;
                padding-top: 10px;
            }
            .edit_pw{
                display: none;
                border: none;
                width: 180px;
            }
        }

        .btn-primary {
            font-weight: 600;
            color: rgb(255, 198, 255);
            background-color: rgb(72, 1, 195);
            border: solid rgb(227, 101, 255) 2px;
            border-radius: 10px;
          }

        .button-area{
            text-align: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            margin-top: 20%;
            height: 50px;
            button{
                width: 110px;
            }
        }
    }
}