<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="register.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>My Diary</title>
    </head>
    <body>

        <h1 id="app-name" align="center"> My Diary </h1>

        <div class="block"></div>

        <div class="container mt-4">
            <form></form>
            <form action="/register" method="POST">
                <fieldset>
                    <legend>회원가입</legend>
                    <div class="md-3">
                        <label for="nn" class="form-label">닉네임 (최소 4자)</label>
                        <input type="text" id="nn" class="form-control" name="nn">
                    </div>
                    <div class="md-3">
                        <label for="id" class="form-label">아이디 (최소 6자)</label>
                        <input type="text" id="id" class="form-control" name="id">
                    </div>
                    <div class="md-3">
                        <label for="pw" class="form-label">비밀번호 (최소 8자)</label>
                        <input type="password" id="pw" class="form-control" name="pw">
                    </div>
                    <button id="register" type="button" class="btn btn-dark">회원가입</button>
                    <a href="/diary/login" class="btn btn-primary">뒤로</a>
                </fieldset>
            </form>
            <form></form>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
        <script>
            $("#register").click(()=>{
                const id = $("#id").val()
                const pw = $("#pw").val()
                const nn = $("#nn").val()

                if (id.length >= 5 && pw.length >= 8 && nn.length >= 4){
                    $.ajax({
                        url: "/diary/register",
                        method: "POST",
                        data: {id: id, pw: pw, nn: nn},
                    }).done((result)=>{
                        if (result.code == 1){
                            alert(nn + " 님 환영합니다!")
                            location.href = "/diary/login"
                        } else {
                            alert("이미 가입된 아이디입니다.")
                            $("#id").focus()
                        }
                    })
                } else {
                    alert("잘못된 형식입니다.")
                }
            })

            $("#app-name").css("cursor", "pointer").click(()=>{
                location.href = "/diary"
            })
        </script>
    </body>
</html>
