html{
    height: 100%;
}

body{
    background-image: url(https://i.pinimg.com/originals/b2/53/53/b253533421b02bfcac83c853005549bf.gif);
    background-repeat: no-repeat;
    background-size: 1800px;
    height: 100%;
    background-position: center;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.block{
    height: 150px;
}

.container{
    font-weight: 1000;
    legend{
        margin-bottom: 30px;
    }
    .md-3{
        margin-top: 20px;
    }
    button{
        margin-top: 20px;
    }
    a{
        margin-top: 20px;
    }
}